---
import { Image } from 'astro:assets';
import RcrPositiveChange from '@assets/portfolio/rcr-achieving-positive-change.png';
import ContentSection from '@components/ContentSection.astro';
import DesignProblemIcon from '@assets/design-problem-flat.svg';
---

<ContentSection>
    <DesignProblemIcon
        slot="icon"
        style="--icon-subject-color: var(--color-neutral-100); --icon-field-color: var(--color-secondary-500);"
    />

    <div slot="title" class="pb-8">Design Challenge</div>
    <div slot="content">
        How can we turn compliance training into a meaningful, thought-provoking
        experience—one that <span class="text-secondary-500 font-bold"
            >encourages researchers to reflect on their role</span
        > in ethical research, not just memorize rules and poplicies?

        <figure>
            <Image
                src={RcrPositiveChange}
                alt="Course Content in Player"
                class="w-full mx-auto mt-8 rounded-lg shadow-lg"
            />
        </figure>
        <figcaption
            class="text-neutral-700 text-center text-balance text-sm py-2 mx-auto px-1 lg:px-4 lg:pb-8"
        >
            Screenshot from <span class="italic"
                >Responsible Conduct of Research</span
            >
        </figcaption>
    </div>
    <div slot="read-more">
        <div class="break-before-column break-inside-avoid-column">
            <p>
                At the heart of the <i>All of Us</i> Research Program is a core belief:
            </p>
            <div class="mx-2 my-4 leading-6.5">
                <span
                    class="font-bold rounded-md py-1 px-1 text-foreground-light bg-linear-to-r from-secondary-500 to-primary-400 tracking-wide"
                    style=" box-decoration-break: clone"
                >
                    Participants and Researchers are Equal Partners</span
                >
            </div>

            <p class="my-3">
                To uphold this principle, the program required researchers to <span
                    class="font-bold text-secondary-500"
                    >go beyond the usual knowledge of ethical principles</span
                > to considerations like:
            </p>
            <ul class="list-disc list-inside my-3">
                <!-- using set:html to prevent Astro Formatter (prettier) from adding whitespace--tried everything else -->
                <li
                    set:html="understanding the researcher's role in protecting participants' privacy"
                />

                <li>avoiding unconsciously reinforcing cultural stigmas</li>
                <li>sharing the benefits of discovery equally.</li>
            </ul>
        </div>
        <p class="my-3">
            As the program prepared to release its Controlled Tier dataset
            containing de-identified genetic data, an urgent need emerged:
        </p>
        <div class="font-bold my-4 p-3 rounded-md break-inside-avoid">
            Before researchers could access sensitive participant data, they had
            to demonstrate a clear understanding of their ethical
            responsibilities.
        </div>
        <p class="my-3">
            While traditional human-subjects research training was available,
            many researchers viewed these courses as bureaucratic obligations
            rather than meaningful learning experiences.
        </p>
        <p class="my-3">
            Through consultation with expert partners, we were able to define
            the program's main objective for the course:
        </p>
        <div
            class="bg-linear-to-br from-secondary-500 to-primary-400 rounded-md px-4 py-0.5 shadow-lg"
        >
            <div
                class="font-bold text-secondary-800 my-4 px-4 py-2 bg-neutral-50 rounded-lg"
            >
                <h5 class="text-lg mb-2 text-secondary-500">
                    Program Objective
                </h5>
                This course will not only meet compliance requirements but will also
                inspire researchers to think about regulations as important guardrails
                to help them achieve their own goals as researchers when situations
                become complicated.
            </div>
        </div>
    </div>
</ContentSection>
