---
import { Image } from 'astro:assets';
import RCRCoverImage from '@assets/portfolio/rcr-part-two-cover.png';
import RcrHeroImage from '@assets/portfolio/rcr-wings-coll.png';
---

<div
  class="heading-container mt-8 mb-6 items-center flex flex-col md:flex-row max-w-screen-xl mx-auto"
>
  <div class="flex md:grow-1 flex-col px-2 justify-center items-center">
    <h1 class="text-4xl md:text-5xl xl:text-6xl mb-6 text-foreground">
      From <span class="font-black whitespace-nowrap">Red Tape</span><br />to <span
        class="font-black whitespace-nowrap">Real Impact</span
      >
    </h1>
    <h2
      class="text-xl/7.5 xl:text-2xl/9 mb-4 text-foreground tracking-normal text-center"
    >
      <strong>Compliance training</strong> focused on<br />
      <span
        class="rounded-md py-1 px-1 text-foreground-light bg-linear-to-r from-primary-300 to-primary-700 tracking-wide"
        style=" box-decoration-break: clone"
      >
        supporting learner's aspirations</span
      ><br />not on thwarting villian's plans.
    </h2>
  </div>
  <div
    class="max-w-sm md:max-w-5/12 self-center mx-auto bg-linear-to-br from-primary-black via-primary-800 to-primary-black px-1 py-1 lg:px-1 lg:py-1 md:mr-2 lg:mr-4 shadow-lg rounded-lg"
  >
    <Image
      src={RcrHeroImage}
      alt="Cover image for the Responsible Conduct of Research Part 2 course"
      class="w-full rounded-md shadow-lg mx-auto ring-1 ring-neutral-500"
      loading="lazy"
    />
  </div>
</div>
