---
import { Image } from 'astro:assets';
import BookmarkIcon from '@assets/bookmark-icon-flat.svg';
import PenCircle from '@assets/pen-circle.svg';
import RcrPositiveChange from '@assets/portfolio/rcr-achieving-positive-change.png';
import ContentSection from '@components/ContentSection.astro';
import DesignProblemIcon from '@assets/design-problem-flat.svg';
---

<ContentSection>
    <BookmarkIcon
        slot="icon"
        style="color: var(--color-neutral-100); --icon-subject-color: var(--color-secondary-800);"
    />

    <div slot="title" class="pb-8">Coauther Contribution</div>
    <div slot="content">
        <p>
            <span class="font-bold"
                >Recent advances in adaptive learning sciences</span
            > (such as machine learning, natural language processing, and Bayesian
            knowledge tracing) are transforming a designer's ability to personalize
            instruction.
        </p>
        <p class="mt-4">
            For this reason a <span class="font-bold"
                >new chapter was added</span
            > to the second edition of <span class="italic"
                >The Handbook on Learning and Instruction</span
            > discussing the <span
                class="rounded-md py-0.5 px-1 text-foreground-light bg-linear-to-r from-secondary-300 to-secondary-700 tracking-wide"
                style=" box-decoration-break: clone"
                >current state of the science</span
            > and <span
                class="rounded-md py-0.5 px-1 text-foreground-light bg-linear-to-r from-tertiary-500 to-tertiary-800 tracking-wide"
                style=" box-decoration-break: clone"
                >how practitioners can apply it effectively
            </span>.
        </p>
        <p class="my-4">
            <span class="font-bold">As a co-author of this chapter</span>, I
            explored two questions from a designer's perspective:
        </p>
    </div>
    <div slot="read-more">
        <div
            class="flex items-center gap-8 mb-8 rounded-lg shadow-sm ring bg-card-bg ring-neutral-100 px-6 py-4 break-inside-avoid"
        >
            <PenCircle
                class="w-12 h-12 flex-shrink-0"
                style="color: var(--color-neutral-100); --icon-field-color: var(--color-secondary-800);"
            />
            <div>
                <p class="font-bold pb-2">Adapting to Learners</p>
                Learners differ in a great many ways (knowledge state, interest,
                goals, affective state, strategic behaviors, learning styles, etc.),
                so <span class="font-bold text-primary-500"
                    >which learner charactaristics should we adapt to?</span
                >
            </div>
        </div>
        <div
            class="flex items-center gap-8 mb-8 rounded-lg shadow-sm ring bg-card-bg ring-neutral-100 px-6 py-4"
        >
            <PenCircle
                class="w-12 h-12 flex-shrink-0"
                style="color: var(--color-neutral-100); --icon-field-color: var(--color-secondary-800);"
            />
            <div>
                <p class="font-bold pb-2">Adapting Effectively</p>

                Adaptations can happen in several time-frames (per action, per
                problem, per course, etc.), so <span
                    class="font-bold text-primary-500"
                    >which loops are effective at adapting to available data?</span
                >
            </div>
        </div>
    </div>
</ContentSection>
