---
import { Image } from 'astro:assets';
import ContentSection from '@components/ContentSection.astro';
import DesignProblemIcon from '@assets/design-problem-flat.svg';
import ImageFigure from '@/components/ImageFigure.astro';
import EngageLogo from '@assets/engage-logo.png';
import SelTest from '@assets/sel.png';
---

<ContentSection>
    <DesignProblemIcon
        slot="icon"
        style="--icon-subject-color: var(--color-neutral-100); --icon-field-color: var(--color-secondary-500);"
    />

    <div slot="title" class="pb-8">Design Challenge</div>
    <div slot="content">
        <p>
            The ENGAGE project at CMU investigated the problem of the difficulty
            of teaching younger students some complex or intangible ideas
            involved in scientific inquiry and critical thinking. Educational
            games provide an opportunity for young learners to "learn by doing"
            in entertaining ways. These games guided player to discover a
            scientific concepts for themselves, and then reflect on the process
            of discovery to gain understanding of the collaborative process of
            scientific inquiry.
        </p>
        <Image
            src={EngageLogo}
            alt="ENGAGE project logo"
            class="max-w-sm mx-auto my-8"
        />
    </div>

    <div slot="read-more">
        <p class="mb-4">
            There were few models for developing games that could provide this
            level of learning while also being entertaining enough to activate a
            player intrinisic motivation. For this reason, a significant part of
            the ENGAGE project was to assemble a cross-functional team of
            learning scientists and entertainment technology experts and find
            ways to bridge the gap between these two fields.
        </p>
        <p class="mb-4">
            There was also a social-emotional learning element to the project
            due to the emphasis of the collaborative nature of scientific
            inquiry. The team needed to considered how to provide an in-game
            framework that encouraged cooperation in fair and intentional ways,
            while remaining age-appropriate.
        </p>
        <ImageFigure
            figureImage={SelTest}
            alt="A example of a test of social-emotional learning. The first frame is a child-like illustration of small person picking up a pie from a table. The second frame illustrates the same small person frowning while looking at the upside down and broken pie on the floor."
            captionPosition="right"
        >
            <div slot="caption">
                <span class="font-bold"
                    >An example of an ENGAGE test involving social-emotional
                    learning.</span
                > The young player is asked to reflect on a short story centered
                on a problem involving emotions and relationships. The goal is to
                increase the child's ability to recognize emotions only implied in
                the story and to find more solutions to this type of problem, especially
                solutions where the child holds themselves accountable. These social-emotional
                skills are important for collaborative scientific inquiry.
            </div>
        </ImageFigure>
    </div>
</ContentSection>
