---
interface Props {
  tags: string[];
}
import TagsIcon from '@assets/tags-icon-flat.svg';
import Tag from '@/components/Tag.astro';
const { tags } = Astro.props;
---

<!-- tags -->
<div class="bg-linear-to-r from-primary-black to-primary-900 py-2 px-4">
  <div class="flex flex-wrap gap-2 mt-2 items-start lg:ml-12">
    <div class="flex gap-2 items-center mr-2">
      <TagsIcon
        class="w-4 h-auto text-neutral-400"
        style="--icon-field-color: var(--color-secondary-500)"
      />
      <h3 class="text-neutral-400 text-xs font-extrabold tracking-tight">
        Project Tags
      </h3>
    </div>
    {
      tags.map((tag) => (
        <Tag label={tag} href={`/filter?tag=${encodeURIComponent(tag)}`} />
      ))
    }
  </div>
</div>
