---
interface Props {
  class?: string;
  style?: string;
}
const { class: customClass = '', style: customStyle = '' } = Astro.props;
import classNames from 'classnames';
---

<section
  class={classNames('card-with-columns py-18', customClass)}
  style={customStyle}
>
  <div class="max-w-screen-xl mx-auto">
    <div class="max-w-12 mb-4">
      <slot name="icon" />
    </div>
    <h2 class="text-4xl tracking-tight font-extrabold text-neutral-900">
      <slot name="title" />
    </h2>
    <div class="col-span-2 columns-2 gap-16">
      <div>
        <slot name="visible-content" />
      </div>

      <slot name="read-more" />
    </div>
  </div>
</section>
