---
import QuoteIcon from '@assets/quote-icon.svg';
import Iceberg from '@assets/iceberg-perfect.svg';
---

<section class="max-w-screen-xl mx-auto px-4 py-4">
  <h2 class="text-4xl font-black font-display">
    When Training Doesn&apos;t Work:
  </h2>
  <h3 class="text-4xl font-light">The Hidden Problem</h3>
  <div
    class="grid grid-cols-1 lg:grid-cols-[auto_auto_auto] gap-y-0 lg:gap-y-4 w-max border-l-4 border-neutral-600 pl-2 my-8 sm:ml-4"
  >
    <div
      class="text-xl justify-self-start lg:justify-self-end self-end lg:self-center mr-2 w-max"
    >
      Them:
    </div>
    <div class="w-max pl-2 lg:pt-1">
      <svg viewBox="0 0 100 100" class="h-6 w-6 fill-neutral-600">
        <polygon points="0,90 100,20 100,90"></polygon>
      </svg>
    </div>
    <div
      class="bg-neutral-600 text-background rounded-xl px-3 py-3 -mt-1 lg:mt-0 lg:-ml-1"
    >
      We need a course on this topic.
    </div>
    <div class="text-xl justify-self-end self-center mr-2 w-max">Me:</div>
    <div class="w-max pr-2 lg:pr-0 lg:pb-1 justify-self-end self-end">
      <svg viewBox="0 0 100 100" class="lg:hidden h-6 w-6 fill-secondary-400">
        <polygon points="0,10 100,90 0,90"></polygon>
      </svg>
      <svg
        viewBox="0 0 100 100"
        class="hidden lg:inline h-6 w-6 fill-secondary-400"
      >
        <polygon points="0,10 100,10 100,90"></polygon>
      </svg>
    </div>
    <div
      class="bg-secondary-400 text-background rounded-xl px-3 py-3 -mt-1 lg:mt-0 lg:-ml-1 text-right"
    >
      What makes you think we need a course?
    </div>
  </div>
  <p class="mb-4">
    People often find my question frustrating&mdash;especially when the request
    seems clear and straightforward. It can seem like a <span
      class="text-neutral"
    >
      waste of time to pause and <b>unpack why learning is needed</b>, rather
      than jumping straight to what the training should cover.
    </span>
  </p>
  <p class="mb-2">
    But I ask the question to uncover a hidden problem with the request:
  </p>
  <p class="mb-4 pl-4 text-neutral-950 font-semibold">
    When we build training around content,<br />we miss the opportunity to
    design solutions.
  </p>

  <p class="mb-4">
    Courses built around a topic often fall short&mdash;not because the content
    is wrong, but because they skip a critical step: <span class="font-bold"
      >defining the specific problem</span
    > the learning is meant to solve. That problem isn&apos;t about what information
    the course should cover, it&apos;s about <span
      class="rounded-md py-0.5 px-1 text-foreground-light bg-linear-to-r from-secondary-200 to-secondary-600 tracking-wide"
      style=" box-decoration-break: clone"
      >what <span class="text-accent-50 font-bold">you</span> want</span
    > learners to be able to do that they can&apos;t already, and <span
      class="rounded-md py-0.5 px-1 text-foreground-light bg-linear-to-r from-secondary-200 to-secondary-600 tracking-wide"
      style=" box-decoration-break: clone"
      >why that matters to <span class="text-accent-50 font-bold"> them</span>.
    </span>
  </p>

  <div>
    <p class="mb-4 lg:hidden">
      I use the “Iceberg Illusion” to help non-designers see what instructional
      design really involves. It’s easy to think of design as just the visible
      part&mdash;slides, activities, or course content&mdash;but real learning
      only happens when those visible parts are built on top of deeper concerns.
    </p>
    <div
      class="iceberg-box lg:float-left lg:mr-4 max-w-[300px] mx-auto shrink-0 mb-8 lg:mb-4 border-2 border-secondary-500 bg-[#a9bace]"
    >
      <div class="bg-secondary-900 text-center py-4 px-4 mb-6">
        <p class="text-neutral-400 font-light text-2xl">Instructional Design</p>
        <p
          class="font-bold text-3xl tracking-wide font-display text-neutral-50"
        >
          Iceberg Illusion
        </p>
      </div>
      <div class="relative w-full">
        <svg
          class="absolute inset-0 z-0 w-full h-full"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
        >
          <rect x="0" y="26.5%" width="100%" height="73.5%" fill="#7c8ea2"
          ></rect>
        </svg>
        <Iceberg class="w-9/10 h-auto mx-auto relative pb-6 z-10 animate-bob" />

        <div
          class="pointer-events-none absolute inset-0 whitespace-nowrap text-center text-sm font-semibold text-neutral-cool-100"
        >
          <div
            class="absolute left-1/2 top-[19%] z-10 -translate-x-1/2 text-sm font-bold text-primary-500"
          >
            Visible Content
          </div>
          <div class="absolute left-1/2 top-[32%] z-10 -translate-x-1/2">
            Instructional Strategy
          </div>
          <div class="absolute left-1/2 top-[47%] z-10 -translate-x-1/2">
            Learner Motivation
          </div>
          <div class="absolute left-1/2 top-[62%] z-10 -translate-x-1/2">
            Problem
          </div>
          <div class="absolute left-1/2 top-[77%] z-10 -translate-x-1/2">
            Business Goal
          </div>
        </div>
      </div>
      <div
        class="bg-[#404c5b] p-4 text-neutral-cool-100 text-sm tracking-tight leading-tight"
      >
        <span class="font-bold tracking-normal"
          >Most instructional design happens beneath the surface.</span
        > Effective content is supported by many less obvious layers of design.
      </div>
    </div>
    <p class="mb-4 hidden lg:block">
      I use the “Iceberg Illusion” to help non-designers see what instructional
      design really involves. It’s easy to think of design as just the visible
      part&mdash;slides, activities, or course content&mdash;but real learning
      only happens when those visible parts are built on top of deeper concerns.
    </p>
    <p class="mb-4">
      Beneath the surface, we start with the organization’s goals and identify
      the knowledge and skills people need to achieve them. From there, we
      clarify the design promblem&mdash;the specific knowledge and skills the
      learners lack.
    </p>
    <p class="mb-4">
      Next, we ask a crucial question: Why would learners want to acquire this
      knowledge or skill? Understanding learner motivation allows us to choose a
      strategy for engaging learners in activities that address the design
      problem and the organization's goals. Only then do we start creating the
      visible content.
    </p>
    <p class="mb-4">
      Building up this foundation below the visible layer takes time, but is
      what transforms "building a course" into "designing a solution." When we
      do the deep work upfront, the content becomes obvious and our focus can
      remain on learning experiences, high-quality materials, and diagnostic
      assessments that create real, lasting change.
    </p>
    <p class="mb-4 font-bold text-xl">
      See these ideas in action by <a
        href="#"
        class="underline underline-offset-5 text-secondary-500"
        >exploring my work</a
      >.
    </p>
  </div>
</section>

<!--   <blockquote
    class="float-right max-w-1/2 py-4 pl-4 pr-2 mb-2 ml-2.5 -mr-4 bg-neutral-300/66 flex flex-col lg:flex-row lg:flex-wrap rounded-l-lg"
  >
    <QuoteIcon
      class="w-auto h-14 self-start lg:self-center mr-4 -mb-12 lg:mb-0 z-0"
      style="--icon-subject-color: var(--color-neutral-200)"
    />
    <div
      class="text-xl italic font-display font-lg font-semibold text-neutral-700 z-10 lg:my-4"
    >
      When we build training around content,<br />we miss the opportunity to
      design solutions.
    </div>
    <QuoteIcon
      class="w-auto h-14 self-end lg:self-center ml-4 mr-2 -scale-x-100 -mt-12 z-0 lg:mt-0"
      style="--icon-subject-color: var(--color-neutral-200)"
    />
  </blockquote> -->
