---
import { Image } from 'astro:assets';
import RCRCoverImage from '@assets/portfolio/rcr-part-two-cover.png';
import HeroCarousel from '@components/content/home/HeroCarousel.astro';
---

<section
    class="bg-[url('/assets/tech-diag-300-600w.png')] bg-origin-border bg-top bg-repeat"
>
    <div
        class="bg-linear-to-l from-background/5 via-background/80 via-80% to-background/20"
    >
        <div
            class="heading-container pb-8 px-4 mt-4 mb-6 items-center flex flex-col lg:flex-row max-w-screen-xl mx-auto"
        >
            <div class="py-12 px-12 flex flex-col shrink-0">
                <h2
                    class="group relative font-display font-light text-4xl sm:text-5xl xl:text-6xl text-neutral-800"
                >
                    I don&apos;t <span
                        class="inline-block relative after:absolute after:left-0 after:top-2/3 after:h-[4px] after:bg-[hsla(360,100%,35%,0.5)] after:content-[''] after:animate-[draw-line_0.5s_ease-in_1s_forwards]"
                        >build courses</span
                    >.
                    <div
                        class="invisible group-hover:visible absolute right-0 -top-14 w-max max-w-sm rounded-md bg-neutral-900 p-3 text-sm text-neutral-300 border-b-2 border-r-2 border-neutral-300 shadow-md transition"
                    >
                        <svg
                            viewBox="0 0 100 100"
                            class="invisible absolute -bottom-4 right-[14em] -rotate-90 h-6 w-6 fill-neutral-900 group-hover:visible transition"
                        >
                            <polygon points="0,50 100,0 100,100"></polygon>
                        </svg>
                        Courses are just one <span class="font-semibold"
                            >tool</span
                        >.<br />And not every learning problem is a nail.
                    </div>
                </h2>
                <div class="flex flex-col gap-x-6 justify-center mx-auto">
                    <h1
                        class="font-display-semicondensed pt-12
          font-black
          text-center
          text-7xl md:text-8xl animate-(--animate-reveal-text-background)
          bg-linear-to-r from-primary-600 from-40% via-primary-500 via-70% to-primary-400 bg-clip-text pb-3"
                    >
                        I Design
                    </h1>
                    <div class="flex flex-col text-center">
                        <h1
                            id="solutions-text"
                            class="font-display-semicondensed
            font-black
            text-center text-8xl animate-(--animate-reveal-text-background)
            bg-linear-to-r from-primary-400 from-0% via-primary-400 via-20% to-primary-500 bg-clip-text"
                        >
                            <span
                                class="underline decoration-transparent animate-[text-decoration-to-accent-500_0.7s_ease-in_1.5s_forwards]"
                            >
                                Solutions
                            </span>
                        </h1>
                        <h1
                            data-animate-on-scroll
                            data-final-class="final-wipe-reveal"
                            class="-mt-2 font-display-semicondensed text-center text-[2.5em] text-primary-900 font-semibold bg-linear-to-r from-primary-800 from-40% via-primary-600 via-60% to-primary-700 bg-clip-text animate-(--animate-wipe-reveal) w-full"
                            style="max-width: fit-content"
                        >
                            that make a difference!
                        </h1>
                    </div>
                </div>
                <h3
                    data-animate-on-scroll
                    data-final-class="final-fade-in-up"
                    class="font-light text-2xl/7.5 xl:text-2xl/9 mb-4 text-foreground tracking-normal text-center text-balance pt-10 max-w-[45ch] mx-auto animate-(--animate-fade-in-up)"
                >
                    I <span class="font-medium"
                        >lead cross-functional teams</span
                    > to help organizations
                    <span class="font-medium"
                        >translate goals into effective learning experiences and
                        programs</span
                    > that improve how people think, work, and grow.
                </h3>
            </div>
            <div class="w-full aspect-square">
                <HeroCarousel />
            </div>
        </div>
    </div>

    <script>
        const elements = document.querySelectorAll('[data-animate-on-scroll]');
        const handled = new WeakSet();

        const animationFinalMap = {
            'animate-(--animate-fade-in)': 'final-fade-in',
            'animate-(--animate-fade-in-up)': 'final-fade-in-up',
            'animate-(--animate-reveal-text-background)':
                'final-reveal-text-background',
            'animate-(--animate-wipe-reveal)': 'final-wipe-reveal',
        };

        const observer = new IntersectionObserver(
            (entries) => {
                for (const entry of entries) {
                    if (!entry.isIntersecting || handled.has(entry.target))
                        continue;

                    const el = entry.target;

                    const handleScroll = () => {
                        const animationClass = Array.from(el.classList).find(
                            (cls) =>
                                cls.startsWith('animate-') ||
                                cls.startsWith('animate[')
                        );
                        if (animationClass) {
                            el.classList.remove(animationClass);
                        }
                        const finalClass = el.dataset.finalClass;
                        if (finalClass) {
                            el.classList.add(finalClass);
                        }

                        handled.add(el);
                        window.removeEventListener('scroll', handleScroll);
                        observer.unobserve(el);
                    };

                    // Run immediately if already scrolled, otherwise wait
                    if (window.scrollY > 50) {
                        handleScroll();
                    } else {
                        window.addEventListener('scroll', handleScroll, {
                            once: true,
                        });
                    }
                }
            },
            {
                threshold: 0.3,
            }
        );
        elements.forEach((el) => observer.observe(el));
    </script>
</section>
